<div class="container">
    <div class="history-section">
      <h1 class="italic-text">NUESTRA HISTORIA</h1>
      <p class="section-text">
        "GYM PROGRESIVO", nacio en el año 2018, como un proyecto pensando en la salud 
        y bienestar de la población en general.A través de los años hemos ido evolucionando 
        rapidámente gracias a la preferencia de nuestros clientes que han confiando en nosotros. 
        Desde nuestros inicios, nos hemos comprometido a proporcionar un ambiente motivador y seguro
        para todos nuestros miembros, independientemente de su nivel de condición física. 
        Ofrecemos una amplia gama de servicios y programas diseñados para ayudar a cada persona 
        a alcanzar sus metas de salud y bienestar.
      </p>
    </div>

    <div class="history-section">
      <h1 class="italic-text">NUESTRO COMPROMISO</h1>
      <p class="section-text">
        "En GYM PROGRESIVO, creemos que la salud y el bienestar son fundamentales para una vida plena y
        feliz. Por eso, nos esforzamos por mantenernos a la vanguardia en tendencias de fitness y bienestar,
        ofreciendo siempre lo mejor a nuestros clientes. Gracias a su confianza y lealtad, hemos crecido y 
        mejorado continuamente, y seguimos dedicados a proporcionar un servicio excepcional.
        Ven y únete a nuestra comunidad de GYM PROGRESIVO, donde tu salud y bienestar son nuestra prioridad.

      </p>
    </div>
    <div class="locations-section">
      <div class="map">
        <div class="students-section">
          <img src="assets/Principal.jpg" alt="Students" class="img-fluid">
        </div>
      </div>
    </div>
  </div>
  