.card-custom {
    width: 60%; /* Ajusta el ancho de la tarjeta según sea necesario */
    max-width: 600px; /* Establece un ancho máximo para la tarjeta */
    margin: 0 auto; /* Centra la tarjeta en su contenedor */
  }
  
  .card-custom .card-body {
    padding: 1.5rem; /* Ajusta el relleno interior del contenido de la tarjeta */
  }
  
  .card-custom .btn-primary {
    margin-top: 1rem; /* Añade un margen superior al botón */
  }
  .card-title-custom {
    text-align: center; /* Centra el texto */
    font-size: 1.5rem; /* Ajusta el tamaño de la fuente */
    color: #333; /* Define el color del texto */
    margin-bottom: 1rem; /* Espacio debajo del título */
  }
  