<div class="container">
  <header>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.2/css/all.min.css">
    <div class="logo">
      <img src="assets/Logo_inicio.gif" alt="Logo" style="height: 50px;">
    </div>
    <nav>
      <ul>
        <li><a href="#" (click)="goToLogin($event)">INICIAR SESIÓN</a></li>
        <li><a href="#" (click)="goToAcerca($event)">ACERCA DE NOSOTROS</a></li>
      </ul>
    </nav>
  </header>

  <main>
    <div class="hero_principal">
    </div>
  
    <div class="students-section">
      <img src="assets/Principal.jpg" alt="Students" class="img-fluid">
    </div>
    <div class="hero">
      <h1>¡Atrévete a vivir la Experiencia!</h1>
    </div>
    <div class="section">
      <div class="row align-items-center">
        <div class="col-md-6 order-md-2">
          <img src="assets/Imagen1.jpg" alt="Image 1" class="img-fluid rounded" style="width: 300px; height: auto;">
        </div>
        
        <div class="col-md-6 order-md-1 text-center">
          <h2 class="section-title">SE PARTE DEL PROGRESO</h2>
          <p class="section-text">
            ¡Tenemos el gimansio perfecto para ti!. 
            Nuestros entrenadores certificados trabajan contigo para desarrollar un plan 
            de entrenamiento personalizado que se adapte a tus necesidades y objetivos específicos.
            Inicia tu verdadera vida fitness con ayuda de los mejores instructores. 
          </p>
        </div>
      </div>
    </div>

    <div class="section">
      <div class="row align-items-center">
        <div class="col-md-6">
          <img src="assets/Imagen1.jpg" alt="Image 1" class="img-fluid rounded" style="width: 300px; height: auto;">
        </div>
        <div class="col-md-6 text-center">
          <h2 class="section-title">ÁREAS DEL GIMNASIO</h2>
          <p class="section-text">
            Contamos con diversas áreas para que puedas iniciar con tu vida fitness. 
            Nuestros espacios cuantan con un equipamiento funcional 
            para poder desarrollar todo tu potencial y saques provecho de todos
            los beneficios que ofrecemos. 
            Nuestro gimnasio está equipado con maquinaria moderna y de alta calidad 
            para asegurar que tengas todo lo que necesitas para un entrenamiento efectivo.
          </p>
        </div>
      </div>
    </div>
    <div class="hero">
      <h1>¡Acompañamiento Especial a tu Entreno!</h1>
    </div>
    <div class="footer">
      <div class="footer-container">
        <div class="footer-logo">
          <img src="assets/Logo_inicio.gif" alt="ITHWH Logo">
          <p>¡Atrévete a vivir la experiencia!</p>
          <p>Mantente conectado.</p>
          <div class="social-media">
            <a href="https://www.facebook.com/GYMPROGRESIVO" target="_blank" rel="noopener noreferrer"><i class="fab fa-facebook"></i></a>
            <a href="https://www.instagram.com/progresivo_gym/" target="_blank" rel="noopener noreferrer"><i class="fab fa-instagram"></i></a>
            <a href="https://www.whatsapp.com" target="_blank" rel="noopener noreferrer"><i class="fab fa-whatsapp"></i></a>
          </div>
        </div>
        <div class="footer-links">
          <h3>Horario</h3>
          <ul>
            <li>Lunes a Viernes 5:00 AM a 20:00 PM</li>
            <li>Sábados 6:00 AM a 12:00 PM</li>
            <li>Domingos Cerrado</li>
          </ul>
        </div>

        <div class="footer-contact">
          <h3>Contáctanos</h3>
          <ul>
            <li><i class="fas fa-map-marker-alt"></i> 18 calle 2da. avenida Barrio 3 de Abril<br>San Benito, Petén</li>
            <li><i class="fas fa-phone-alt"></i> +502 3962 - 1164</li>
            <li><i class="fas fa-envelope"></i> contacto@gym.gt</li>
          </ul>
        </div>
      </div>
    </div>
    <div class="footer_2">
    <h3>Todos los Derechos Reservados - 2024</h3>
    </div>
  </main>
</div>

<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap/5.3.0/css/bootstrap.min.css">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.2/css/all.min.css">
<script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap/5.3.0/js/bootstrap.bundle.min.js"></script>


  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap/5.3.0/css/bootstrap.min.css">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.2/css/all.min.css">
<script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap/5.3.0/js/bootstrap.bundle.min.js"></script>